@import url('https://fonts.googleapis.com/css?family=Alice');
html,
body {
    height: 100%;
    margin: 0;
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    background: #3f2d42;
    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*:focus {
    outline: none;
}

h1 {
    font-family: 'Alice';
    letter-spacing: 1px;
    font-weight: bold;
    color: #fdc539;
    text-transform: uppercase;
    font-size: 1.3rem;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.75);
    text-align: center;
    border-bottom: 1px solid #efefef;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
    width: 100%;
}

h2 {
    font-family: 'Alice';
    letter-spacing: 1px;
    margin-top: 2rem;
    font-weight: bold;
    color: #fdc539;
    font-size: 1rem;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.75);
}

.spinner-border {
    color: #fdc539 !important;
}

input[type='radio'],
input[type='checkbox'] {
    position: absolute;
    left: -9999px;
    opacity: 0;
}

input[type='radio'] + label,
input[type='checkbox'] + label {
    cursor: pointer;
    user-select: none;
    padding-left: calc(25px + 0.5rem);
    padding-right: 0.5rem;
    line-height: 24px;
    position: relative;
    color: white;
    transition: 0.2s color ease;
    font-weight: bold;
    display: block;
    margin-bottom: 0.5rem;
}

input[type='radio'] + label:before,
input[type='checkbox'] + label:before {
    content: '';
    display: block;
    width: 16px;
    height: 16px;
    border: 3px solid rgba(255, 255, 255, 0.5);
    background: transparent;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 3px;
    transform: 0.2s border-color ease;
    box-sizing: content-box;
}

input[type='radio'] + label:after,
input[type='checkbox'] + label:after {
    content: '';
    display: block;
    position: absolute;
    height: 10px;
    width: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    top: 6px;
    left: 6px;
    transition: 0.2s background-color ease;
}

input[type='radio']:checked:disabled + label,
input[type='checkbox']:checked:disabled + label {
    background: transparent;
    border: none;
    cursor: not-allowed;
    color: rgba(255, 255, 255, 0.5);
}

input[type='radio']:checked + label,
input[type='checkbox']:checked + label {
    color: white;
    font-weight: bold;
}

input[type='radio']:checked + label:before,
input[type='checkbox']:checked + label:before {
    border-color: #fdc539;
}

input[type='radio']:checked + label:after,
input[type='checkbox']:checked + label:after {
    background-color: #fdc539;
}

.btn {
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
}

.btn-square {
    width: 50px;
    height: 50px;
    position: relative;
    border-radius: 4px;
    margin: 0.25rem;
    background: white;
    border: 1px solid #efefef;
}

.btn-square .image {
    pointer-events: none !important;
    user-select: none !important;
}

.btn-square .amount {
    width: auto;
    height: 16px;
    background: black;
    color: white;
    padding: 0.25rem;
    font-weight: bold;
    line-height: 0;
    font-size: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: -1px;
    bottom: -1px;
    border-top-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.btn-square:hover,
.btn-square:focus,
.btn-square:focus:hover {
    background-color: white !important;
    box-shadow: 0;
}

.btn-square.active {
    box-shadow: 0 0 0 3px #d19a66;
}

.btn-primary,
.btn-success {
    font-family: 'Alice';
    letter-spacing: 1px;
    text-transform: uppercase;
    border: 0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    height: 21px;
    padding: 0 0.5rem;
    opacity: 1;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    position: relative;
    font-size: 10px;
}

.btn-primary {
    background-color: #650703 !important;
    color: #d19a66;
}

.btn-success {
    background-color: #cb9500 !important;
    color: #650703;
}

.btn-primary span,
.btn-success span {
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}

.nearby {
    display: block;
    position: absolute;
    top: 0rem;
    right: 1rem;
    width: 220px;
}

.profile {
    display: flex;
    align-items: center;
    position: absolute;
    top: 2.5rem;
    left: 1rem;
    width: 100%;
    max-width: 200px;
}

.profile .btn-circle {
    flex: 0 60px;
    margin-right: 0.5rem;
    background-color: rgba(0, 0, 0, 0.5);
    border: 0;
    border-radius: 50%;
    padding: 0.5rem;
    width: 60px;
    height: 60px;
    border: 2px solid #d19a66;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

.profile .btn-circle img {
    transform: scale(2.5);
}

.profile-level {
    border: 2px solid #d19a66;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    font-size: 10px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    font-weight: bold;
    position: absolute;
    bottom: -2px;
    left: -2px;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.5);
}

.profile-info {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    color: white;
    font-family: Arial;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.profile-progress {
    display: block;
    width: 100%;
}

.profile-hp {
    margin-bottom: 0.5rem;
}

.profile-hp,
.profile-xp {
    height: 8px;
    border-radius: 3px;
    margin-bottom: 0.25rem;
    width: 100%;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    background-color: rgba(0, 0, 0, 0.5);
}

.popover {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0.75);
    border: 1px solid #666;
    border-radius: 5px;
    overflow: visible;
    width: 200px;
}

.popover .arrow {
    display: none;
}
.popover .popover-header,
.popover .popover-body {
    background-color: transparent;
    color: white;
    border: 0;
}
.popover .popover-header {
    font-size: 14px;
    padding: 0.5rem;
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
.popover .popover-body {
    padding: 0 0.5rem 0.5rem 0.5rem;
    font-size: 12px;
}

.form-control,
.form-control:focus {
    background-color: rgba(0, 0, 0, 0.5);
    border-color: #fdc539;
    margin-bottom: 0.5rem;
    font-family: 'Avenir';
    color: white;
    font-weight: bold;
}
.form-control:focus {
    box-shadow: none;
}
a,
a:hover {
    color: #fdc539;
}
.modal-content {
    padding: 0;
}
.modal-body {
    padding: 0;
}
.modal-title {
    color: #d19a66;
    letter-spacing: 1px;
    font-weight: bold;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    padding-left: 0.25rem;
    font-size: 14px;
    text-transform: uppercase;
    font-family: 'Alice';
}
header {
    padding: 0.25rem;
    border-bottom: 1px solid #d19a66;
    margin-bottom: 0.25rem;
}
.btn.close {
    background-color: #650703 !important;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    width: 23px;
    height: 23px;
    color: #d19a66;
    padding: 0;
    opacity: 1;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    position: relative;
}
.close span {
    position: absolute;
    top: 2px;
    left: 5px;
    font-size: 20px;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}
.modal-content {
    background-color: rgba(0, 0, 0, 0.75);
}
